.form-input {

}

.form-label {
  font-size: 16px;
  color: $color-gray_light;
  font-weight: bold;
  margin-bottom: 12px;
}


.input {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid $color-gray;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  color: $color-black;
  outline: none;
}

.mgg-input {
  position: relative;

  .input {
    padding-left: 20px;
    padding-right: 50px;
  }

  .mgg-input__after {
    width: 30px;
    position: absolute;
    top: calc((100% / 2) / 2);
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.select {
  width: 100%;
  position: relative;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;

  &.open {

    .select__input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      border-bottom: 1px solid #fff;
    }

    .select__icon {
      transform: rotate(180deg);
    }

    .select__dropdown {
      display: block;
    }

    .select__input {
      //border-bottom: none;
    }
  }

  .select__input {
    @extend .input;

    min-height: 45px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
  }

  .select__dropdown {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px solid $color-gray;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    //box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    background: white;

    &::-webkit-scrollbar {
      height: 20px;
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color:#ecedee;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $color-gray;
    }
  }

  .select__list {
    /* we use reset, but... */
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .select__item {
    padding: 9px 1rem;
    //border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: $color-gray_light;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #eee; /* dropdown input bg color */
      cursor: pointer;
      transition: .15s background-color ease-in;
    }

    &.selected {
      background-color: bisque; /* dropdown selected input bg color */
    }
  }

  .select__icon {
    transition: all 0.3s;
  }
}
/* <<< Select <<< */


@import 'sortable';
@import 'textarea';

@import 'radio';
@import 'checkbox';