.sortable {
}

.sortable__selected-icon {
  display: none;
}

.sortable--collapsed {

  .sortable__icon {
    display: inline-block;
  }
}

.sortable__item {
  padding: 13px 35px;
  box-sizing: border-box;
  background: #fff;
  color: $color-black;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  text-align: center;
    display: block;
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
        background: $color-red;
        color: #fff;
    }
}

.sortable__item--bordered {
  border: 1px solid $color-red;
}

.sortable__item--selected {
  background: $color-red !important;
  color: #fff !important;
  border-color: $color-red;
}
