.header-main {
  background: #fff;
  height: 96px;
}

.header__nav {
  margin-left: 25px;

  ul {
    list-style-type: none;
  }
}

.header__nav-item {

  &:not(:last-child) {
    margin-right: 25px;
  }

  a {
    text-decoration: none;
    font-weight: normal;
    color: $color-gray_light;
    font-size: 14px;
    position: relative;

    &:before {
      content: '';
      bottom: -3px;
      height: 1px;
      width: 100%;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      background: $color-gray_light;
      transition: all 0.3s;
    }

    &:hover {

      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.header__nav-item--active {

  a {
    color: $color-red;
    font-weight: bold;

    &:hover {

      &:before {
        background: $color-red;
      }
    }
  }
}


.header-main__user {
  margin-left: 30px;
}

.header-main__user-item {

  &:not(:last-child) {
    margin-right: 10px;
  }
}


@media screen and (max-width: 1760px) {
  .header__nav-item {

    &:not(:last-child) {
      margin-right: 20px !important;
    }
  }
}