@media screen and (max-height: calc(1024px - 120px)) {

  .first-screen {

    .first-screen__main {

      .selling-text {
        margin-top: 50px;

        .paragraph {
          font-size: 18px;
        }

        .page-title {
          font-size: 42px;
        }
      }
    }

    .nav-menu__item:not(:last-child) {
      margin-right: 20px;
    }

    .nav-menu {
      margin: 30px 0 25px 0;
    }
  }

  .first-screen__ads-number {
    padding: 15px 20px;
    min-height: auto;

    .card-info__header {
      font-size: 20px;
    }

    .card-info__info {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1024px) {

  .page__about {

    .first-screen {
      padding: 100px 0 !important;

      .page__title {

        .big {
          font-size: 50px;
          margin-bottom: 20px;
        }
        .light {
          font-size: 36px;
          line-height: 150%;
        }
      }
    }
  }

  .page__prop-valuation {

    .first-screen__wrapper {

      .page__text {
        line-height: 150%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page__about {

    .first-screen {
      padding: 175px 0 !important;
    }
  }
}