.breadcrumbs {
  min-height: 130px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;

  .ac-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.breadcrumbs__path {

  .breadcrumbs__item {
    color: #fff;
    font-size: 14px;
  }
}

.breadcrumbs__title {
  font-size: 22px;
}

.feedback-banner {

  &.mt {
    margin-top: 40px;
  }
}

.feedback-banner__main {
  flex-direction: column;
}

.feedback-banner__info {
  width: 100%;
  text-align: center;

  p {
    font-size: 16px;
  }

  .mobile-div {
    display: flex;
    flex-direction: column;
  }
}

.feedback-banner__bg {

  &:before {
    background: rgba(33,33,55, 0.65);
  }

  &:after {
    display: none;
  }
}

.feedback-banner__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.feedback-banner__form {
  width: 100%;
  margin-top: 20px;
  justify-content: center;

  .form {
    padding: 27px 20px 25px 20px;
  }

  .form__submit {
    margin-top: 20px;
    align-self: center;
  }
}


.blog-post {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 40px;
}
.blog-post__header {
  min-height: 390px;
}

.blog-post__description {
  font-size: 14px;
  padding: 35px 20px;
}

.blog-post__date {
  align-self: center;
  margin-top: 35px;
}

.blog-post-title {
  font-size: 24px;
  margin-top: 18px;
}

.blog-post__title {
  font-size: 22px;
  margin-top: 36px;
}

.blog-post__subtitle {
  margin-top: 23px;
  font-size: 20px;
  margin-bottom: 12px;
}

.blog-post__uploaded-image {
  margin-top: 26px;
}

.blog-post__footer {
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.blog-post__author {
  max-width: unset;
}

.blog-post__footer__rs {
  margin-top: 25px;
  flex-direction: column;
  align-items: flex-start;

  span {
    margin-bottom: 15px;
  }
}

.blog-post .faq {
  margin-top: 36px;
}

.faq {
  padding: 26px 20px;
}

.faq__title {
  font-size: 22px;
  margin-bottom: 15px;
}

.faq__text {
  font-size: 14px;
}

.faq__subtitle {
  font-size: 16px;
}

.faq__list {
  max-width: 100%;
  margin-top: 20px;

  ul {

    li {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }
}

#app.mobile {

  .collections-section {
    width: 100%;
    box-sizing: border-box;
  }

  .section-slider .swiper {
    padding: unset !important;

    &:before, &:after {
      display: none;
    }
  }

  .room__photos-items {

    .swiper-slide {
      width: 100% !important;
    }

    &:after {
      display: none;
    }

    &:before {
      display: none;
    }
  }

  .room__overlay {
    display: none;
  }
}

.collections-section__container {
  padding-left: unset !important;
  padding-right: unset !important;
  margin: unset !important;
  max-width: unset !important;
  width: 100%;

  .mobile-rooms-slider {
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.room__btns {

  .btn--no-bg {
    margin-top: 10px;
  }
}

.section {
  margin-top: 40px;

  &.roomsSlider {

    .section__title {
      padding: 0 15px;
    }
  }
}

#app.mobile {
  .section-benefits {
    padding-top: 35px;
    padding-bottom: 40px;

    .section__card {
      max-width: unset;
    }

    .section__title {
      text-align: center;
    }

    .section-slider__navigation {
      display: none;
    }

    .swiper {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

.room__photos {
  .room__photos-nav__prev {
    transform: translateX(0);
    margin-left: 20px;
  }
  .room__photos-nav__next {
    transform: translateX(0);
    margin-right: 20px;
  }
}


.estate-card {

  .ec-desc.mortgage-selection {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.mgg-select__banks {

  .row {
    flex-direction: column;

    .col-md-4 {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.ec-grid {
  padding: 0 !important;
}

.ec-slider {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.ec-info {
  margin-left: 15px !important;
  margin-right: 15px !important;
  width: calc(100% - 30px);
}

.ec-desc {
  margin-left: 15px;
  margin-right: 15px;
}

.ec-agent {
  margin-left: 15px;
  margin-right: 15px;
}

.ec-map {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px) !important;
}

.services-section__cards {

  .swiper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page__franchise {

  .safely {

    .section__title--column {
      flex-direction: row;

      span {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .stats__row {
      justify-content: flex-start;
    }

    .stat-item__employee {
      margin-top: 10px !important;
    }

    .ac-grid {

      >.row {
        >.col-md-3 {
          width: 100%;
        }

        >.col-md-9 {
          width: 100%;
        }
      }
    }

    .safely-map {
      margin-left: 0;
      margin-top: 50px;
    }

    .stat-item--cities {
      margin-left: 70px;
    }
  }
}

#app.mobile {

  .agents-section {
    .swiper {
      padding: 0 15px !important;
    }
  }

  .section-reviews {
    .swiper {
      padding: 0 15px !important;
    }
    .swiper-scrollbar {
      width: calc(100% - 30px) !important;
      box-sizing: border-box;
      bottom: -2px;
    }
  }
}

.agents-section {

  .collections-section__container {
    padding: 0 !important;
  }

  .agents-section__slider-nav {
    display: none;
  }
}

.section-reviews {

  .swiper-scrollbar {

  }



  .section-slider__container {}

  .swiper-scrollbar {}
}

.page__hsm {

  .preview {
    padding: 75px 0;
  }

  .preview__title {
    font-size: 30px;
  }

  .preview__info {
    font-size: 20px;
  }
}

.steps-to-mg {

  .steps-to-mg__steps {
    flex-direction: column;
  }

  .steps-to-mg__step {
    display: flex;
    align-items: center;

    .ts {
      flex-direction: row-reverse;
      width: auto;
    }

    .path {
      flex-direction: column;
      width: auto;
      margin-right: 20px;
      margin-left: 0;
      height: 100%;

      .line {
        width: 1px;
        min-height: 50px;
        height: 100%;
      }
    }

    .dot--right {
      display: none;
    }

    .steps-to-mg__step-info {
      flex-grow: 1;
      margin-left: 15px;
    }
  }
}

.page__prop-valuation {

  .first-screen {
    padding: 50px 0;
  }

  .first-screen__wrapper {
    max-width: 100%;
  }

  .first-screen__form {
    max-width: 100%;
  }

  .page__title {
    font-size: 30px;
  }

  .page__text {
    font-size: 20px;
  }
}

.page__app-submission {
}

.mark-on-the-map__info {
  display: none;
}

.mark-on-the-map__map {
  margin-top: 30px;
}