// В стандартных браузерах верхняя панель + панель значков занимает ~120px

@media screen and (min-width: 1px) and (max-width: 1780px) {
  .breadcrumbs {

    .ac-grid {
      padding: 0 15px;
    }
  }
}

// xxl 1400
@media screen and (min-width: 1400px) {
  @import 'xxl';
}

// xl 1200
@media screen and (max-width: 1399px) {
  @import 'xl';
}

// lg 992
@media screen and (max-width: 1199px) {
  @import 'lg';
}

// md 768
@media screen and (max-width: 991px) {
  @import 'md';
}

// sm 576
@media screen and (max-width: 767px) {
  @import 'sm';
}

// x-small (none)
@media screen and (max-width: 575px) {
  @import 'mobile';
}


@media screen and (max-width: 1780px) {
  .section-slider__container {
    .swiper {
      padding-left: 15px;
      padding-right: 15px;

      &:before, &:after {
        display: none;
      }
    }
  }

  .section-benefits {

    .collections-section__container {
      //padding-left: 15px !important;
      //padding-right: 15px !important;
    }
  }
}


@import 'height-fix';