.section-h1 {
  font-size: 30px !important;
}

.page__title {
  font-size: 35px !important;

  .big {
    font-size: 35px !important;
    margin-bottom: 15px !important;
  }

  .light {
    font-size: 14px;
  }
}

// Sortable in home page
.first-screen__sortable--4 {

  .sortable__items {

    .col-md-6:nth-child(3),
    .col-md-6:nth-child(4) {
      margin-top: 15px;
    }
  }
}

.vacancy-card {
  position: relative;
  padding: 35px 32px 80px 32px;
}

.vacancy-card__btn {
  position: absolute;
  bottom: 0;
  left: 0;
}


.about-section {
  padding: 0 15px;
}

.about-section__row {
  flex-direction: column;
}


.page__about {
  .first-screen {
    padding: 190px 0 !important;
  }

  .first-screen__bg {

    max-height: 100%;
  }

  .about-section {
    margin-top: 40px;
  }

  .about-section__ls {
    margin-right: 0;
    min-width: unset;
  }

  .about-section__rs {
    margin-top: 25px;
    font-size: 14px;
  }

  .task-solution {
    padding-top: 36px;
    padding-bottom: 40px;
  }
}

.about-section__image {
  height: auto;
}

.about-section__delimiter {
  margin: 25px 0;
  width: 100%;
}

.company-history__text {
  width: 100%;
}

.page__service-cost {

  .what-included {
    margin-top: 36px;
  }

  .section-h1 {
    margin-bottom: 0 !important;
  }
}

.ec-info__row {
  flex-direction: column;
}

.ec-info__ls,
.ec-info__cost-container {
  width: 100%;
}

.ec-info__location {
  margin-top: 18px;
}

.ec-info__cost-container {
  margin-top: 18px;
  align-items: flex-start;
}

.page__ec {

  .roomsSlider {
    padding-top: 33px;
    padding-bottom: 40px;
    margin-bottom: 0 !important;
  }
}

.page__franchise {

  .first-screen__form {
    max-width: unset;
  }

  .condition-item__title {
    font-size: 28px;
  }

  .condition-item__info {
    font-size: 14px;
  }

  .conditions {
    margin-top: unset;
    height: auto;
    padding-top: 40px;
    background: $color-gray_lighter;

    .col-md-4 {
      margin-bottom: 15px;
    }
  }

  .safely {
    .stats__row {
      flex-direction: column;
    }

    .stat-item--cities {
      margin-left: auto;
      margin-top: 0 !important;
    }

    .stat-item__employee {
      align-items: flex-start !important;
    }

    .stat-item {

      .high {
        font-size: 60px !important;
      }

      .text {
        font-size: 25px !important;
      }
    }
  }

  .what-you-get {
    padding-bottom: 40px !important;
  }

  .office-slider {
    margin-top: unset;
    padding: 40px 0;
  }

  .office-slider__container {
    padding: 0 15px !important;

    .office-image {
      height: 100%;
    }

    .slider-nav {
      display: none;
    }

    .swiper-slide {
      height: 170px;
    }

    .swiper {
      padding: 0 !important;
      //padding: 0 15px !important;
    }
  }

  .statistic {
    margin-bottom: 30px;
  }
}

.agents-section {
  margin-top: unset !important;
  padding: 35px 0;
}

.section-reviews {

  .btn {
    display: none;
  }
}

.page__hsm {

  .select-row {
    margin-bottom: 21px;
  }

  .mgg-select__banks {
  }
}

.page__prop-valuation {

  .first-screen__bg {
    height: 100% !important;
  }

  .first-screen {
    padding: 36px 0;
  }

  .first-screen__form {
    max-width: 100%;
    width: 100%;
  }

  .types-eval-in-company {
    padding-top: 36px;
    margin-top: 50px;
    padding-bottom: 40px;

    .section__title {
      text-align: center;
    }
  }
}

.page__sale {

  .first-screen__bg {
    height: 100% !important;
  }

  .first-screen__form {
    max-width: 100%;
  }

  .first-screen__form-row {
    flex-direction: column;

    .input {
      max-width: 100%;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .how-it-work {
    margin: 36px 0;
  }

  .ui-card__top {
    flex-direction: row;
    margin-bottom: 14px;
    align-items: center;
  }

  .ui-card__icon {
    margin-bottom: 0;
  }

  .ui-card__title {
    margin-left: 19px;
    margin-bottom: 0;
  }

  .info-banner {
    margin-top: 40px;
    padding: 0 0 40px 0;
    background: $color-gray_lighter;
  }

  .info-banner__bg {
    position: static;
  }

  .info-banner__text {
    font-size: 14px;
    text-transform: unset;
  }

  .info-banner__btns {

    .btn {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 100% !important;
      text-align: center;
    }
  }

  .info-banner__wrapper {
    padding: 0 15px;
  }

  .info-banner__title {
    font-size: 22px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 22px;

    span {

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}

.page__home {

  .section-benefits {

    .section-slider-pagination {
      display: flex;
    }
  }

  .services-section {

    .swiper {
      padding-bottom: 15px !important;
    }

    .section-slider-pagination {
      margin-top: 15px;
    }
  }
}

.estate-card {

  .slide__overlay {

    .btn {
      width: 100%;
    }
  }
}

.page__app-submission {

  .btn--gray {
    margin-bottom: 24px;
  }

  .app-submission__options {
    .ac-text {
      padding: 0 !important;
    }

    .app-submission__option-section {
      margin-bottom: 0;
    }
  }

  .app-submission__options__toggle-btn {
    margin-bottom: 25px;
  }

  .app-submission__row {
    margin-bottom: 0;
  }
}

.page__buildings {
    .room__btns {
        .btn {
            margin-top: 10px;
        }
    }
}
