// Sortable in home page
.first-screen__sortable--4 {
}

.first-screen {

  .agreement {
    font-size: 14px;
  }

  .first-screen__bg {
    height: 100vh;
    //width: 100%;
  }

  .first-screen__options {
    margin-top: 65px;
  }

  .first-screen__filters {
    .form-input {
      margin-bottom: 16px;
    }

    .first-screen__filters__btn {
      margin-top: 4px;
      font-size: 16px;
    }
  }

  .nav-menu {
    display: none;
  }

  .first-screen__filters--area,
  .first-screen__filters--cost {

    input {
      margin-bottom: 16px;
    }
  }

  .selling-text {
    margin-top: 30px;

    .paragraph {
      font-size: 16px;
    }

    h1 {
      font-size: 14px;
      margin-top: 20px;
    }

    .page-title {
      font-size: 24px;
    }
  }

  .first-screen__ads-number {
    margin: 28px 45px 0 45px;
    width: calc(100% - 90px);
    box-sizing: border-box;
    align-items: center;

    .card-info__header {
      font-weight: bold;
    }
  }
}

.sortable {

  .sortable__items {

    .col-xs-12:not(:first-child) {
      display: none;
    }
  }
}

.sortable__item--selected {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sortable__selected-icon {
    display: inline-block;
    margin-left: 10px;
  }
}


// blog
.post {
  height: 230px !important;
  margin-bottom: 20px;
}

.post__title {
  font-size: 18px !important;
}

.articles-section__post-container {
  margin-bottom: -20px;
}

// Section
.section__title {
  font-size: 22px !important;
  margin-bottom: 20px;
}

// services section
.services-section {
  padding-top: 36px;
  padding-bottom: 36px;

  .section__title {
    text-align: center;
  }

  .service-card {

    &:before {
      top: unset !important;
      bottom: 0 !important;
      //box-shadow: 0 14px 24px 54px white !important;
    }
  }

  .services-section__container {
    margin: unset !important;
    padding: unset !important;
    margin-bottom: -20px;

    .col-md-12 {
      margin-bottom: 20px;
    }
  }

  .service-card__image {
    position: absolute;
    height: 100%;
  }
}

.service-card__main {
  margin-bottom: 0;
  margin-top: auto;
}

.service-card__name {
  font-size: 16px;
  margin-bottom: 12px;
}

.service-card__description {
  font-size: 14px;
}

.advantages {
  padding: 37px 0;
}

.advantages__row {

  .col-sm-12 {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.collections-section__more {
  margin-top: 20px;
  font-size: 18px;
}

.advantages__row {

}

.advantage__title {
  font-size: 60px;
}

.advantage__text {
  font-size: 22px;
}


.form {
}

.form__title {
  font-size: 22px;
}

.form__input {

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}


.page__buildings {

  .breadcrumbs {
    background: $color-gray_lighter;

    .breadcrumbs__bg {
      height: 139px;
      z-index: 0;
    }

    .breadcrumbs__path {
      z-index: 3;
    }

    .breadcrumbs__title {
      z-index: 3;
    }
  }

  .first-screen__main {
    z-index: 3;
  }

  .main__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .main__map-container {
    margin-top: -270px;
    overflow: hidden;
  }

  .main__rs {
    margin: 0;
    padding: 0;
    //width: 100%;
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .main__map {
    padding: 0;
    margin: 0;
    height: auto;
    min-height: 532px;

    .arrow {
      display: none;
    }
  }

  .room__assortment {
    font-size: 14px;
  }

  .room__quantity {
    font-size: 14px;
  }

  .room__address {
    margin-bottom: 20px;
  }

  .room__btns {

    .btn {
      font-size: 18px;
    }
  }

  .first-screen__options {
    margin-top: 0;
  }

  .first-screen__filters {
    margin-top: 17px;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .feedback-banner {
    margin-top: 45px;
  }
}

.page__service-cost {

  .what-included__item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    &:not(&:nth-child(1),
    &:nth-child(2)) {
      display: none;
    }
  }

  .what-included {
    margin-bottom: 40px;

    .gy-4 {
      margin: 0;
      padding: 0 15px;
    }
  }

  .what-included__btn {
    margin-top: 23px;
    display: flex;
    justify-content: center;

    .btn {
      color: $color-black;
      font-size: 18px;
      width: 100%;
    }
  }

  .why-trust {
    padding: 36px 0 40px 0;

    .ui-card__top {
      flex-direction: row;
      align-items: center;
    }

    .ui-card__title {
      margin-left: 19px;
    }
  }
}

.section-h1 {
  font-size: 22px !important;
  margin-bottom: 17px !important;
}

.ui-card {

  .ui-card__title {
    font-size: 16px !important;
  }
}


.ec-map {
  height: auto;
  width: 100%;
}

.page__ec {

  .ec-options__row {
    flex-direction: column;
  }

  .ec-options__col {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .services-section {

    .swiper {
      padding-bottom: 15px !important;
    }
  }

  .ec-desc {
    padding: 25px 20px;
  }

  .roomsSlider {
    margin-bottom: 40px;
  }

  .ec-info {
    padding: 25px 20px;
  }

  .ec-info__name {
    font-size: 25px;
  }

  .ec-info__location {
    font-size: 14px;

    svg {
    }
  }

  .ec-info__cost {
    font-size: 35px;
  }
}

.ec-info__buttons {
  flex-direction: column-reverse;

  .ec-info__add-to-wishlist {
    margin-top: 10px;

    .btn {
      justify-content: center;
    }
  }

  .ec-info__add-to-wishlist,
  .ec-info__contact {
    width: 100%;
  }

  .btn {
    width: 100% !important;
  }
}

.page__franchise {

  .first-screen {
    padding: 35px 0;
  }

  .first-screen__form {
    width: 100%;
  }

  .conditions {
    background: #fff;
    padding-bottom: 35px;

    .col-sm-6 {
      width: 50%;
    }
  }
  .condition-item {
    padding: 19px 12px;
  }
  .condition-item__title {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .safely {
    padding: 40px 0;
  }
}


.page__title {
  font-size: 24px !important;
}

.page__text {
  font-size: 14px !important;
  margin-top: 20px !important;
}

.first-screen__form {
  margin: 20px auto 0 auto !important;
}

.first-screen__wrapper {
  padding: 0;
  max-width: unset !important;
}



.first-screen .first-screen__form-row {

  button[type=submit] {
    width: 100% !important;
    box-sizing: border-box;
  }
}

.page__hsm {

  .why-service {
    padding: 37px 0;
  }

  .select-row {
    margin-bottom: 21px;
  }

  .mgg-select__banks {

    .col-md-12 {

      &:not(&:nth-child(1),
        &:nth-child(2)) {
        display: none;
      }
    }
  }

  .mgg-select__banks-btn {
    display: block;
    margin-top: 20px;

    .btn {
      font-size: 18px;
      width: 100%;
    }
  }

  .ui-card__top {
    flex-direction: row;
  }

  .ui-card__title {
    margin-left: 19px;
  }


  .preview__title {
    font-size: 22px;
  }

  .preview__info {
    font-size: 14px;
  }

  .preview__wrapper {
    text-align: center;
  }

  .preview {
    padding: 35px 0;
    overflow: hidden;
    padding-bottom: 60%;
  }

  .preview__bg {
    top: 50%;
  }
}


.page__app-submission {

  .need-auth {
    margin-top: 20px;
  }

  .app-submission__choice {
    margin-top: 0;
  }

  .form__submit {
    width: 100%;
    margin-top: 0;
  }

  .feedback {
    flex-direction: column-reverse;
  }

  .first-screen__sortable {
    margin-bottom: 20px;
  }

  .mark-on-the-map__map {
    margin-top: 10px;
  }

  .input {
    margin-bottom: 20px;
  }

  .app-submission__photos {

    .section__title {
      margin-top: 45px;
      text-align: center;
    }
  }

  .section__title {
    text-align: center;
  }

  .section-p {
    text-align: center;
    width: 100%;
    display: inline-block;
  }

  p.section__desc {
    text-align: center;
  }

  .photo-gallery__main {
    height: auto;
    width: 100%;

    .photo-gallery__image {
      width: 100%;
      height: auto;
    }
  }

  .add-photo {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px solid $color-gray;
    border-radius: 10px;
    justify-content: center;
    margin-top: 19px;
    display: flex !important;
  }

  .add-layout {
    display: flex !important;
    justify-content: center;
    margin-top: 19px;
  }

  .photo-gallery {

    .sortableContainer {

      .col-sm-6 {
        width: 50%;
      }
    }

    .photo-gallery__layout {
      width: 100%;
    }
  }

  .photo-gallery__images {
    margin-top: 19px;

    .photo-galley__load-btn {
      height: 100%;
    }

    .photo-gallery__image {
      height: 135px;
      width: 100%;
    }

    .row {

      &:first-child {

        .col-md-3:not(:nth-child(1), :nth-child(2)) {
          display: none;
        }
      }

      &:not(:first-child) {
        .col-md-3 {
          display: none;
        }
      }

    }
  }
}

#app.mobile .section-benefits .swiper {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.section-benefits {

  .section__card__title {
    font-size: 16px;
  }

  .section__card__btn {
    font-size: 14px !important;
  }

  .section-slider__container {
    max-width: unset;
    width: 100%;
  }

  .section__card {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

.feedback-banner {

  .input {
    margin-bottom: 0;
  }

  //.form__input:not(:last-child) {
  //  margin-bottom: 19px;
  //}

  .form__submit {
    padding: 0;
    width: 100%;
    margin-top: 20px;

    button {
      width: 100%;
    }
  }
}