// Footer nav
.footer__nav {
  flex-wrap: wrap;
}

.footer__left-section {
  margin-right: 40px;
}

.footer__nav__col {
  display: flex;
  flex-direction: column;
  width: calc(50% - 25px);

  &:not(:nth-child(1), :nth-child(2)) {
    margin-top: 40px;
  }

  margin-right: 0 !important;
}

.footer__nav-section {
}