.dropdown {
  position: relative;

  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  &.open {

    .dropdown__items {
      display: block;
    }

    .dropdown__arrow {
      transform: rotate(90deg);
    }
  }
}

.dropdown__btn {
  cursor: pointer;
}

.dropdown__items {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 150px;
  max-width: 235px;
  background: $color-gray;
  box-sizing: border-box;
  color: $color-black;
  z-index: 5;
}
.dropdown__item {

  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: $color-gray_hover;
  }
}

.dropdown__arrow {
  transition: all 0.3s;
}