.nav-menu {


}

.nav-menu--white {

  .nav-menu__item {

    a {
      color: #fff;

      &:before {
        background: #fff;
      }
    }
  }
}

.nav-menu__item {

  &:not(:last-child) {
    margin-right: 25px;
  }

  a {
    text-decoration: none;
    font-weight: normal;
    color: $color-gray_light;
    font-size: 14px;
    position: relative;

    &:before {
      content: '';
      bottom: -3px;
      height: 1px;
      width: 100%;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      background: $color-gray_light;
      transition: all 0.3s;
    }

    &:hover {

      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.nav-menu__item--active {

  a {
    color: $color-red !important;
    font-weight: bold;

    &:hover {

      &:before {
        background: $color-red;
      }
    }
  }
}


@media screen and (max-width: 1600px) {

  .nav-menu {
    flex-wrap: wrap !important;
    row-gap: 15px;
  }
}