.ui-card {
  color: $color-black;
  box-sizing: border-box;
  width: 100%;
  padding: 35px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 12px 3px rgba(0,0,0,0.1);
  height: 100%;
}

.ui-card__top {
  display: flex;
  flex-direction: column;
}

.ui-card__icon {
  color: $color-red;
  font-weight: bold;
  margin-bottom: 20px;

  span {
    font-size: 60px;
    display: inline-block;
    margin: -10px 0;
  }

  svg {

  }
}

.ui-card__title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  span {

  }
}

.ui-card__main {
  font-size: 14px;
  line-height: 140%;

  p {

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}