.ec-desc {
  color: $color-black;
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 40px;
  box-shadow: 0 4px 12px 3px rgba(0,0,0,0.1);
}

.ec-desc__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.ec-desc__text {
  font-size: 14px;
  line-height: 145%;
}