.ec-info {
  color: $color-black;
  width: 100%;
  min-height: 235px;
  box-sizing: border-box;
  padding: 34px 40px;
  box-shadow: 0 4px 12px 3px rgba(0,0,0,0.1);
  border-radius: 25px;
}

.ec-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ec-info__ls {
  width: 70%;
  box-sizing: border-box;
}

.ec-info__rs {
  width: 30%;
  box-sizing: border-box;
}


.ec-info__name {
  font-size: 40px;
}
.ec-info__location {
  font-size: 20px;
  margin-top: 20px;

  svg {
    margin-right: 14px;
  }
}

.ec-info__cost-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ec-info__cost {
  font-size: 40px;
  font-weight: bold;
}
.ec-info__area {
  font-size: 20px;
  margin-top: 25px;
}


.ec-info__buttons {
  margin-top: 20px;
}

.ec-info__add-to-wishlist {

  svg {
    margin-right: 15px !important;
  }
}
.ec-info__contact {

  .btn {
    padding: 13px 85px;
    font-size: 18px;
  }
}