.ec-info__ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ec-info__rs {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ec-info__name {
  font-size: 40px;
  font-weight: bold;
}