.estate-card {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.ec-grid {
  max-width: 1240px;
  margin-right: 25px;
  padding: 0 15px;
  width: 100%;
}


// slider
.ec-slider {

  .slide__bg {
    border-radius: 25px;

    img {
      border-radius: 25px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.ec-slider__main {
  height: 547px;
  width: 100%;
  position: relative;

  .ec-slider__main__navigation {
    margin: 20px;
  }

  .btn__item {
    height: 45px;
    width: 45px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  .btn__prev {

    svg {
      transform: rotate(180deg);
      margin-right: 2px;
    }
  }

  .btn__next {
    svg {
      margin-left: 4px;
    }
  }

  .swiper {
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
  }
}
.ec-slider__main__slide {
  position: relative;
  height: 100%;

  .slide__bg {
    height: 100%;
  }

  .slide__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 20px;
    z-index: 1;
    top: 0;
    left: 0;

    .btn--white {
      margin-top: auto;
    }
  }
}

.ec-slider__main__navigation {
  position: absolute;
  height: 45px;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
}





$slideThumbHeight: 172px;

.ec-slider__thumbs {
  height: 172px;
  margin-top: 20px;
  position: relative;
}

.ec-slider__thumbs__slide {
  height: 172px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

$slideThumbNavItemWidth: 35px;
.ec-slider__thumbs__navigation {
  position: absolute;
  left: 0;
  width: 100%;
  height: 35px;
  top: calc((#{$slideThumbHeight} / 2) - (35px / 2));

  .btn__item {
    top: 0;
    height: 35px;
    width: 35px;
    z-index: 5;
    position: absolute;
    //top: calc((#{$slideThumbHeight} / 2) - (35px / 2));
  }

  .btn__prev {
    margin-left: calc((#{$slideThumbNavItemWidth} / 2) * (-1));
    left: 0;
  }

  .btn__next {
    margin-right: calc((#{$slideThumbNavItemWidth} / 2) * (-1));
    right: 0;

    svg {
      transform: rotate(180deg);
      margin-left: 2px;
    }
  }
}




@import "ec-info";
@import "ec-description";
@import "ec-options";

.estate-card {

  .ec-info {
    margin: 20px 0;
  }

  .ec-desc {
    margin-bottom: 20px;
    position: relative;
    transition: all 0.4s;

    .ec-desc__text {
      //height: 100%;
      max-height: unset;
      transition: all 0.4s;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        box-shadow: 0px -61px 30px -35px rgba(255, 255, 255, 0) inset;
        transition: all 0.4s;
      }
    }

    &.collapsed {

      .ec-desc__text {
        height: 75px;
        max-height: 75px;
        overflow: hidden;
        position: relative;

        &:before {
          opacity: 1;
          visibility: visible;
          box-shadow: 0px -61px 30px -35px rgba(255, 255, 255, 0.61) inset;
        }
      }

      .btn-read-more {


        svg {
          transform: rotate(0deg);
        }
      }
    }

    .btn-read-more {
      box-sizing: border-box;
      width: 100%;
      margin-top: 0;
      padding-bottom: 0;
      //padding-top: 0;
      transition: all 0.4s;

      svg {
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }
  }

  .section {
    margin-top: 40px;
    padding-top: 0;
    padding-bottom: 0;

    .section__title {
      font-size: 30px;
      margin-bottom: 23px;
      text-transform: unset;
    }
  }

  .services-section {
    background: none;
  }

  .mgg-select {
    margin-top: 20px;
  }
}

.estate-card__map {
  position: relative;
}

.ec-map {
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.ec-map__text {
  font-size: 20px;
  font-weight: bold;
  color: $color-black;
  position: absolute;
  text-align: center;
  margin-top: 10%;
  max-width: 350px;
}



.ec-agent {
  color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;

    .btn {
      margin-top: 10px;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.ec-agent__image {
  width: 100%;
  //height: 235px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ec-agent__name {
  margin-top: 24px;
  margin-bottom: 19px;
  text-align: center;
  line-height: 140%;
  font-size: 20px;
  font-weight: bold;
}

.ec-agent__phone {
  text-decoration: none;
  color: $color-black;
  display: flex;
  align-items: center;
  font-weight: bold;

  svg {
    margin-right: 7px;
  }
}

.ec-agent__text {
  font-size: 14px;
  margin: 15px 0;
}

.mortgage-selection {
  margin-top: 20px;
}

.page__ec {

  .roomsSlider {
    padding-top: 73px;
    padding-bottom: 80px;
    background: $color-gray_lighter;
  }
}


@media screen and (max-width: 1800px) {
  .ec-slider__main {
    z-index: 3;
  }

  .services-section {

    .swiper {
      padding-bottom: 60px !important;
    }
  }

  .ec-slider__main__navigation {
    margin: 0 !important;
    width: 100%;

    .btn__item {
      position: absolute;
      margin: 0 !important;
      padding: 0 !important;
      top: calc(((547px / 2) - (45px / 2)) * (-1));
    }

    .btn__prev {
      left: 20px;
      //top: calc(((547px / 2) - (45px / 2)) * (-1));
    }
    .btn__next {
      right: 20px;
    }
  }

  .estate-card {
    justify-content: unset;
    flex-direction: column;


    .ec-agent {
      margin-top: 20px;
    }

    .ec-agent__image {
      height: auto;
    }
  }

  .ec-grid {
    max-width: unset;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-right: 0;
  }

  .ec-slider__thumbs__navigation {

    .btn__prev {
      margin-left: 0;
    }
    .btn__next {
      margin-right: 0;
    }
  }

  .ec-slider__thumbs__navigation {
    top: 40px;
  }

  .ec-slider__thumbs {
    height: 111px;
  }

  .ec-slider__thumbs__slide {
    height: 111px;
  }

  .slide__bg {
    height: 111px;
  }
}