// Bootstrap
//@import '../libs/bootstrap/bootstrap-reboot.min.css';
//@import '../libs/bootstrap/bootstrap-grid.min.css';
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
@import '../libs/bootstrap/bootstrap.min.css';

// Colors:
$color-gray: #F0F0F2;
$color-gray_dark: #D5D5DA;
$color-gray_hover: #DCDCDE;
$color-gray_light: #7A7A87;
$color-gray_lighter: #F8F8F9;
$color-black: #212137;
$color-red: #AA0001;


// Fonts:
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

$font-main: 'Manrope', sans-serif;

$fullHdPadding: 70px;

html, body {
  min-height: 100%;
}

body {
  line-height: unset !important;
}

// Grid:
  // ac - app-container
.ac-grid {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1780px;
}

.content-grid {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.f {
  display: flex;
}

.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

#app {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex-grow: 1;
}


.color {}
.color--red {
  color: $color-red;
}


.dropzoneInput {
  display: none;
}

.content-preloader {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

    svg {
        height: 100%;
    }
}


// Components:
@import 'components/common';
@import 'components/header/header';
@import 'components/first-screen';

@import 'components/service-card';
@import 'components/agent-card';
@import 'components/review-card';
@import 'components/blog/post';
@import 'components/blog/faq';
@import 'components/photo-gallery';
@import 'components/estate-card/estate-card';
@import 'components/mgg/mgg-select';
@import 'components/vacancy-card';
@import 'components/ui/ui-card';
@import 'components/info-banner';
@import 'components/advantages';

@import 'components/section';
@import 'components/room';
@import 'components/blog/blog';
@import 'components/need-auth';
@import 'components/feedback-banner';
@import 'components/footer/footer';

// UI
@import 'components/ui/dropdown';
@import 'components/ui/btn';
@import 'components/ui/nav-menu';
@import 'components/ui/card-info';
@import 'components/ui/form/form';
@import 'components/ui/form/input';
@import 'components/ui/accordion';
@import 'components/sliders';
@import 'components/pagination';
@import 'components/modal/modal';
@import 'components/agreements/form';

@import 'components/breadcrumbs';

// Pages
@import 'pages/app-submission';
@import 'pages/sale';
@import 'pages/prop-valuation';
@import 'pages/about';
@import 'pages/serivce-cost';
@import 'pages/franchise';
@import 'pages/hsm';
@import 'pages/buildings';
@import 'pages/home';

// Adaptive
@import 'adaptive/main';
