.page__app-submission {

  .form__submit {
    margin-top: 35px;
    padding: 10px 100px;
    outline: none;
    font-size: 18px;
  }

  .add-photo,
  .add-layout {
    display: none !important;
  }

    .sortable__item {

        &:hover {
            background: $color-red !important;
            color: #fff !important;
        }
    }

  .col-padding {
    margin-top: auto;
  }

  .room-preview {
    margin-bottom: 5px;
  }

  .sortable-section {
    margin-bottom: 38px;
  }

    .dropzoneContainer__image {
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .photo-gallery__images {
        .col-md-3 {
            height: 135px;
        }

        .col-md-3:not(:nth-child(1)) +
        .col-md-3:not(:nth-child(2)) +
        .col-md-3:not(:nth-child(3)) +
        .col-md-3:not(:nth-child(4)){
            margin-top: 30px;
        }
    }
}

.app-submission__row {

  .input {
    padding-left: 15px;
    padding-right: 15px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.app-submission__photos {

  .section__title {
    margin-top: 75px;
    margin-bottom: 0;
  }
}

.app-submission__options {
  margin-top: 15px;

  .ac {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;

      .ac-panel {
          overflow: hidden;
          opacity: 0;
          transition: all 0.5s;
      }

    &.is-active {

        .ac-panel {
            overflow: unset;
            opacity: 1;
        }

      .app-submission__options__toggle-btn svg {
        transform: rotate(0);
      }
    }
  }

  .ac-header {
    padding: unset !important;
    margin: unset !important;

    &:after {
      display: none;
    }
  }

  .ac-trigger {
    font-family: $font-main !important;
  }

  .ac-text {
    font-family: $font-main !important;
    padding: 45px 0 0 0 !important;
  }
}

.app-submission__options__toggle-btn {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;

  span {
    font-size: 16px !important;
    margin-left: 15px;
    font-weight: normal;
    color: $color-gray_light;
    display: flex;
    align-items: center;

    svg {
      margin-left: 9px;
      transform: rotate(180deg);
      transition: all 0.3s;
    }
  }
}

.app-submission__option-section {

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}


.mark-on-the-map {}

.mark-on-the-map__info {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 17px;
}

.mark-on-the-map__map {
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
}

.app-submission__choice {
  margin-top: 20px;

  .app-submission__choice-item {
    width: 100%;

    .btn {
      width: 95%;
      padding-left: unset !important;
      padding-right: unset !important;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 14px;
    }
  }
}
