.page__franchise {
  position: relative;

  .first-screen {
    padding: 87px 0 calc(38px + 49px) 0;
  }

  .first-screen__form {

    button[type=submit] {
      margin-left: auto;
      margin-right: auto;
      width: unset !important;
      padding-left: 90px !important;
      padding-right: 90px !important;
    }
  }


  $marginInside: 39px;

  .conditions {
    margin-top: -$marginInside;
    height: 150px;
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: calc(100% - #{$marginInside});
      bottom: 0;
      left: 0;
      position: absolute;
      background: $color-gray_lighter;
      z-index: -1;
    }
  }


  .safely {
    background: $color-gray_lighter;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 170px;
  }


  .stats {

    .stats__row {
      display: flex;
      justify-content: space-between;

      .stat-item {
        display: flex;
        flex-direction: column;

        .high {
          font-size: 90px;
          color: $color-red;
          font-weight: bold;
        }

        .text {
          color: $color-black;
          font-size: 40px;
          text-transform: uppercase;
          margin-top: -15px;
        }
      }

      .stat-item--cities {
        margin-top: 70px;
      }

      .stat-item__employee {
        margin-top: 60px;
        width: 100%;
        align-items: center;
      }
    }
  }

  .safely-map {
    margin-left: 150px;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  .what-you-get {
    padding-bottom: 100px;
  }

  .statistic {
    margin-bottom: 100px;
  }

  .statistic__image {
    margin-top: 90px;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  .office-slider {
    background: $color-gray_lighter;
    padding: 93px 0;
  }
}


.conditions {
}

.condition-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 17px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 12px 3px rgba(0,0,0,0.1);
  background: #fff;
}
.condition-item__title {
  font-weight: bold;
  color: $color-black;
  margin-bottom: 7px;
  font-size: 35px;
}
.condition-item__info {
  color: $color-gray_light;
  font-size: 16px;
}

$officeSliderHeight: 315px;

.office-slider__container {
  width: 100%;
  box-sizing: border-box;

  .slider-nav__btn {
    top: calc((100% - (#{$officeSliderHeight} / 2)) - (36px / 2));
  }

  .swiper {
    padding: 0 $fullHdPadding;

    .slider-nav__prev {
      margin-left: -5px;
    }
    .slider-nav__next {
      margin-right: -5px;
    }
  }

  .swiper-slide {
    border-radius: 25px;
    overflow: hidden;
    width: 575px;
    height: $officeSliderHeight;

    img {
      border-radius: 25px;
    }
  }
}

.office-image {
  width: 100%;
  //height: 100%;
  border-radius: 25px;
  height: $officeSliderHeight;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}