.page__prop-valuation {

  .first-screen__form {

    button[type=submit] {
      margin-left: auto;
      margin-right: auto;
      width: unset !important;
      padding-left: 90px !important;
      padding-right: 90px !important;
    }
  }

  .types-eval-in-company {
    margin-top: 100px;
    padding-top: 93px;
    padding-bottom: 90px;
    background: $color-gray_lighter;
  }
}