.page__service-cost {

  .what-included {
    margin-top: 88px;
    padding-top: 0;
    margin-bottom: 110px;
  }



  .section-h1 {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    line-height: 115%;
    color: $color-black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }


  .why-trust {
    padding-top: 93px;
    background: $color-gray_lighter;
    padding-bottom: 110px;
    margin-top: 0;
  }

  .what-included__btn {
    display: none;
  }
}