.modal-ui {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
  }

}

.modal-ui__body {
  border-radius: 25px;
  background: #fff;
  color: $color-black;
  padding: 50px 50px 75px 50px;
  box-sizing: border-box;
  z-index: 11;
  position: fixed;
    width: 80%;
}

.modal-ui__title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}


@import 'important-modal';
