.agents-section .collections-section__container {
  position: relative;
}
.agents-section .agents-section__slider-nav {
  outline: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}
.agents-section .agents-section__slider-pagination {
  position: absolute;
}
.agents-section .swiper {
  padding: unset !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.agents-section .swiper:before {
  display: none;
}
.agents-section .swiper:after {
  display: none;
}
.agents-section .swiper-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}