.agents-section {
  background: $color-gray_lighter;
  margin-top: 0;
  padding-top: 73px;
  padding-bottom: 75px;

  .collections-section__container {
    position: relative;
  }

  .section-slider__next-btn {
    transform: unset !important;
    box-shadow: unset !important;
  }

  $sliderNavItemWidth: 36px;

  .agents-section__slider-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    //padding: 0 $fullHdPadding;
    top: calc((#{$agentCard} / 2) - (#{$sliderNavItemWidth} / 2));
    height: 36px;
  }

  .agents-section__slider-nav__btn {
    height: 36px;
    width: $sliderNavItemWidth;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1) !important;
  }

  .agents-section__slider-nav__prev {
    margin-left: -$sliderNavItemWidth/2;
  }

  .agents-section__slider-nav__next {
    margin-right: -$sliderNavItemWidth/2;

    svg {
      transform: rotate(180deg);
    }
  }


  .swiper {
    padding: unset !important;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .swiper-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }


  .collections-section__more {

    .btn {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}