.breadcrumbs {
  position: relative;
  width: 100%;
  min-height: 178px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  a {

    &:hover {
      color: #fff !important;
    }
  }
}

.breadcrumbs__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:before {
    z-index: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("/img/breadcrumbs-bg.png");
    background-size: cover;
  }


  .ac-grid {
    padding: 15px 0;
    box-sizing: border-box;
  }
}

.breadcrumbs__path {
  margin-bottom: 10px;
}

.breadcrumbs__prev {

  &:after {
    content: '/';
    margin-left: 4px;
  }
}

.breadcrumbs__item {
  text-decoration: none;
  color: $color-gray_light;
  font-size: 16px;
  font-weight: bold;
}

.breadcrumbs__title {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}