.breadcrumbs {
  position: relative;
  width: 100%;
}

.breadcrumbs__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.breadcrumbs__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.breadcrumbs__bg:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("/img/breadcrumbs-bg.png");
}