.page-title {
  font-size: 65px;
  font-weight: bold;
}
.page-title--white {
  color: #fff;
}

$paragraph-size: 24px;

.paragraph {
  font-size: $paragraph-size;
}

.paragraph--light {
  font-weight: lighter;
  line-height: 135%;
}

.paragraph--white {
  color: #fff;
}
.paragraph--ls {
  letter-spacing: 7px;
}


.sortable-section {}


.mb-80 {
  margin-bottom: 80px !important;
}

.mt-100 {
  margin-top: 100px;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-15 {
  margin-right: 15px;
}


.fs--14 {
  font-size: 14px !important;

  * {
    font-size: 14px !important;
  }
}


.delimiter {
  margin: 25px 0;
  background: $color-gray_lighter;
  width: 100%;
  height: 4px;
}

.page {

  .first-screen {
    padding: 100px 0;
  }

  .first-screen__bg {
    left: 0;
    top: 0;

    &:before {
      display: none;
    }
  }

  .first-screen__wrapper {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page__title {
    font-size: 70px;
    font-weight: bold;
    line-height: 115%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    .big {
      font-size: 100px;
      margin-bottom: 40px;
    }

    .light {
      font-weight: normal;
    }
  }

  .page__text {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 110%;
    color: #fff;
    text-align: center;
  }

  .first-screen__form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 40px auto 0 auto;
  }

  .first-screen__form-row {
    display: flex;
    align-items: center;

    .input {
      max-width: 47%;
      background: none;
      color: #fff !important;
      border-color: #fff;

      &::-webkit-input-placeholder {
        color:    #fff;
      }
      &:-moz-placeholder {
        color: #fff;
        opacity: 1;
      }
      &::-moz-placeholder {
        color:    #fff;
        opacity:  1;
      }
      &:-ms-input-placeholder {
        color:    #fff;
      }
      &::-ms-input-placeholder {
        color:    #fff;
      }
      &::placeholder {
        color:    #fff;
      }
    }

    button[type="submit"] {
      width: 100%;
      padding: 12px 30px !important;
      box-sizing: border-box;
      margin-top: 30px;
    }
  }

  .agreement {
    color: #fff;
    line-height: 130%;
    margin-top: 20px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mgg-select__banks-btn {
  display: none;
}