.room {
  //max-width: 425px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 4px 12px 3px rgba(0,0,0,0.1);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover {

    .room__overlay {
      display: block;
    }
  }
}

.room__photo {
  height: 180px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;

  img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.room__photos {
  height: 180px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  //overflow: hidden;

  &:hover {

    .room__photos-nav__prev {
      transform: translateX(0);
      margin-left: 20px;
    }
    .room__photos-nav__next {
      transform: translateX(0);
      margin-right: 20px;
    }
  }
}

.room__photos-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.room__photos-nav__btn {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.swiper-button-disabled {
    cursor: default;
    opacity: 0.7;
    box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.0);
  }

  path {
    transition: all 0.3s;
  }

  &:hover {
    background: $color-red;

    path {
      fill: #fff;
    }
  }
}

.room__photos-nav__prev {
  transform: translateX(-100%);
  margin-left: 0;
  transition: all 0.3s;
}
.room__photos-nav__next {
  transform: translateX(100%);
  margin-right: 0;
  transition: all 0.3s;

  svg {
    transform: rotate(180deg);
  }
}

.room__photos-items {
  height: 100%;
  width: 100%;
}

.room__photo-item {
  width: 100% !important;
  height: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


.room__main {
  padding: 0 18px 18px 18px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.room__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room__actions {
  display: flex;
  margin-left: 15px;

  .room__action {
    &:not(:last-child) {
      margin-right: 9px;
    }
  }
}

.room__cost {
  font-size: 20px;
  font-weight: bold;
  color: $color-black;
}

.room__cost-full {
  font-size: 16px;
  margin-top: 7px;
  color: $color-gray_light;
}

.room__options {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.room__option {
  font-size: 16px;
  color: $color-black;
  display: flex;
  align-items: center;

  &:not(:last-child) {

    &:after {
      content: '';
      background: $color-gray_dark;
      height: 100%;
      width: 1px;
      margin: 0 20px;
      display: inline-block;
    }
  }
}

.room__assortment {
  margin-top: 20px;
}

.room__quantity {
  color: $color-red;
  font-weight: bold;
  margin-top: 19px;
}

.room__delimiter {
  width: 100%;
  height: 1px;
  background: #E2E2E5;
  margin: 19px 0;
}

.room__assortment-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .name {
    width: calc(50% - 5px);
    margin-right: 5px;
  }
  .price {
    width: calc(50% - 5px);
    margin-left: 5px;
  }
}


.room__address {
  margin-top: 5px;
  font-size: 14px;
  color: $color-black;
}

.room__btns {
  margin: auto 0 15px 0;

    .row {
        margin-top: 15px;
    }

  .btn {
    width: 100%;
  }
}


.room__overlay {
  display: none;
  position: absolute;
  min-height: 50px;
  width: 100%;
  margin-top: -20px;
  left: 0;
  top: 100%;
  background: #fff;
  box-shadow: 0 15px 12px 3px rgba(0,0,0,0.1);
  z-index: 6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px 0;
  padding-left: 16px;
  padding-right: 16px;
}

.room__realtor {
  display: flex;
  align-items: center;

  .rs {
    margin-left: 23px;
  }
}

.room__realtor__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.room__realtor__info {}

.room__realtor__phone {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: $color-black;

  span {
    margin-right: 8px;
  }
}

.room__realtor__name {
  margin-top: 9px;
  color: $color-gray_light;
  font-size: 14px;
}

.room-preview {
  display: flex;
  align-items: center;
}

.room-preview__left {
  margin-right: 18px;
}
.room-preview__right {}

.room-preview__img {
  border-radius: 10px;
  overflow: hidden;
  height: 80px;
  width: 80px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.room-preview__name {
  color: $color-black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.room-preview__description {
  color: $color-gray_light;
  font-size: 14px;
  line-height: 130%;
  max-width: 350px;
}


.estate-object-photos-slider {
  .swiper {
    padding: unset !important;

    &:before, &:after {
      display: none;
    }
  }
}


.room--fh {
  height: 100%;
  display: flex;
  flex-direction: column;

  .room__address {
    margin-bottom: 15px;
  }

  .room__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .room__btns {
    margin: auto 0 0 0 !important;
    //margin-bottom: 15px;
  }
}
