.service-card {
  width: 100%;
  min-height: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: #fff;
}
.service-card:before {
  position: absolute;
  height: 57%;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.service-card__name {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.service-card__description {
  font-size: 14px;
  line-height: 150%;
}