.vacancy-card {
  color: $color-black;
  border-radius: 25px;
  background: #fff;
  box-sizing: border-box;
  padding: 37px 32px;
  box-shadow: 0 4px 12px 3px rgba(0,0,0,0.1);
}

.vacancy-card__name {
  font-size: 24px;
  line-height: 115%;
  margin-bottom: 20px;
  font-weight: bold;
}

.vacancy-card__salary {
  color: $color-red;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 35px;
}

.vacancy-cards {
  margin: 80px 0;
}

.vacancy-card__tasks {
  span {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 14px;
    display: inline-block;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      font-size: 14px;
      padding-left: 16px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      &:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        top: 7px;
        left: 0;
        background: $color-red;
      }
    }
  }
}

.vacancy-card__tasks-title {
  font-size: 16px;
  font-weight: bold;
}

.vacancy-card__btn {
  margin-top: 25px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}