.faq {
  background: #F0F0F0;
  padding: 105px 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
}

.faq__title {
  font-size: 35px;
  line-height: 140%;
  margin-bottom: 25px;
}

.faq__text {
  font-size: 18px;
  line-height: 145%;
}

.faq__subtitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 20px;
}

.faq__list {
  max-width: 60%;
}
.faq__list ul li {
  font-size: 14px;
}
.faq__list ul li:not(:last-child) {
  margin-bottom: 25px;
}